.option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option label {
  display: flex;
  align-items: center;
}
.option p {
  width: 100px;
}

.option .btn {
  padding: 5px 20px;
  background-color: cornflowerblue;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.form .content {
  display: flex;
  flex-direction: column;
}

.form label {
  display: flex;
  align-items: center;
}
